In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('stask1.xls')

In [31]:
df.columns
df.isnull().sum()

Unnamed: 0      0
RANDOM          0
Names         967
dtype: int64

In [21]:
data = df.Names

In [22]:
df.isnull().sum()

Unnamed: 0      0
RANDOM          0
Names         967
dtype: int64

In [33]:
names_data = data.dropna()

In [34]:
print(names_data)

0     Aaden
1     Aarav
2     Aaron
3     Aayan
4     Abbie
5     Abdul
6     Abner
7     Abram
8     Adams
9     Addie
10    Adlai
11    Adolf
12    Adron
13    Aedan
14    Agnes
15    Ahmad
16    Ahmed
17    Ahmir
18    Aidan
Name: Names, dtype: object